name: Recipes
on: [push, pull_request]

jobs:
  vitest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mkdir -p vitest
      - name: setup
        working-directory: ./vitest
        run: |
          rm ../package.json
          rm ../pnpm-lock.yaml
          npm install vitest@1 @vitest/ui@1 @types/node --save-dev
          cat package.json
          echo 'export const add = (a: number, b: number) => a + b' >> calc.ts
          echo 'export const addBad = (a: number, b: number) => a + b + 1' >> calc.ts
          echo 'export const sub = (a: number, b: number) => a - b' >> calc.ts
          mkdir test
          echo 'import {test, expect} from "vitest"' >> test/adding.test.ts
          echo 'import {add, addBad} from "../calc"' >> test/adding.test.ts
          echo 'test("add well", () => expect(add(1, 1)).toEqual(2))' >> test/adding.test.ts
          echo 'test("add badly", () => expect(addBad(1, 1)).toEqual(2))' >> test/adding.test.ts
      - name: run tests
        working-directory: ./vitest
        run: npx vitest --reporter html || echo failed
      - uses: ./upload
        with:
          name: vitest
          path: vitest/html
  playwright:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          rm -rf playwright.config.ts
          npm install @playwright/test --save-dev
          echo 'export const add = (a: number, b: number) => a + b' >> calc.ts
          echo 'export const addBad = (a: number, b: number) => a + b + 1' >> calc.ts
          echo 'export const sub = (a: number, b: number) => a - b' >> calc.ts
          mkdir test
          echo 'import {test, expect} from "@playwright/test"' >> test/adding.test.ts
          echo 'import * as calc from "../calc"' >> test/adding.test.ts
          echo 'test("add well", () => expect(calc.add(1, 1)).toEqual(2))' >> test/adding.test.ts
          echo 'test("add badly", () => expect(calc.addBad(1, 1)).toEqual(2))' >> test/adding.test.ts
      - name: run tests
        run: npx playwright test --reporter html || echo failed
      - uses: ./upload
        with:
          name: playwright
          path: playwright-report
  website:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: mkdir -p website
      - name: setup
        run: |
          npm create astro@latest -- demosite --template starlight --yes
          export BASE_PATH="/artifact/blob/${{ github.repository }}/${{ github.run_id }}/website/demosite/dist"
          sed -i "s|integrations|base: '$BASE_PATH', integrations|g" demosite/astro.config.mjs
          sed -i "s|link: /guides|link: $BASE_PATH/guides|g" demosite/src/content/docs/index.mdx
      - run: npm run build
        working-directory: demosite
      - uses: ./upload
        with:
          name: website
          path: demosite/dist
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          npm install eslint eslint-plugin-mmkal @eslint/config-inspector --save-dev
          echo "module.exports = require('eslint-plugin-mmkal').recommendedFlatConfigs" >> eslint.config.js
      - name: inspect eslint config
        run: npx @eslint/config-inspector build --base /artifact/blob/${{ github.repository }}/${{ github.run_id }}/eslint/.eslint-config-inspector
      - uses: ./upload
        with:
          name: eslint
          path: .eslint-config-inspector
  jest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          echo 'module.exports.add = (a, b) => a + b' >> calc.js
          echo 'module.exports.addBadly = (a, b) => a + b + 1' >> calc.js
          mkdir test
          echo 'const {add, addBadly} = require("../calc")' >> test/adding.test.js
          echo 'test("add well", () => expect(add(1, 1)).toEqual(2))' >> test/adding.test.js
          echo 'test("add badly", () => expect(addBaddly(1, 1)).toEqual(2))' >> test/adding.test.js
          echo 'const {add} = require("../calc")' >> test/snaps.test.js
          echo 'test("bad snapshot", () => expect({foo: add(1, 1)}).toMatchInlineSnapshot(`{"foo": 3}`))' >> test/snaps.test.js
          echo 'module.exports = {
            testRegex: /test\/.*/.source,
            reporters: ["default", ["jest-html-reporters", {publicPath: "./report"}]],
            coverageDirectory: "report",
          }' >> jest.config.js
          ls
          ls test
          npm install jest jest-html-reporters --save-dev
      - name: run tests
        run: npx jest --coverage || echo failed
      - uses: ./upload
        with:
          name: jest
          path: report
  ava:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          rm package.json pnpm-lock.yaml
          npm init -y
          npm install ava tap-html
          echo 'exports.add = (a, b) => a + b' > calc.js
          echo 'exports.addBad = (a, b) => a + b + 1' >> calc.js
          mkdir test
          echo 'const {add, addBad} = require("../calc")' >> test/adding.test.js
          echo 'const test = require("ava")' >> test/adding.test.js
          echo 'test("add well", t => t.is(add(1, 1), 2))' >> test/adding.test.js
          echo 'test("add badly", t => t.is(addBad(1, 1), 2))' >> test/adding.test.js
      - name: run tests
        run: npx ava --tap | npx tap-html --out output.html || echo failed
      - uses: ./upload
        with:
          name: ava
          path: output.html
  pytest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          echo '
          def add(a, b):
            return a + b
          def addBad(a, b):
            return a + b + 1

          def test_add_well():
            assert add(1, 1) == 2
          def test_add_badly():
            assert addBad(1, 1) == 2
          ' >> test.py
          pip install pytest
          pip install pytest-html
      - name: run tests
        run: pytest test.py --html report/index.html || echo failed
      - uses: ./upload
        with:
          name: pytest
          path: report
  mocha:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          npm install mocha --save-dev
          echo 'exports.add = (a, b) => a + b' >> calc.js
          echo 'exports.addBad = (a, b) => a + b + 1' >> calc.js
          echo 'exports.sub = (a, b) => a - b' >> calc.js
          mkdir test
          echo 'const assert = require("assert")' >> test/adding.test.js
          echo 'const {add, addBad} = require("../calc")' >> test/adding.test.js
          echo 'it("adds well", () => assert.strictEqual(add(1, 1), 2))' >> test/adding.test.js
          echo 'it("adds badly", () => assert.strictEqual(addBad(1, 1), 2))' >> test/adding.test.js
      - run: npx mocha --reporter doc > output.html || echo failed
      - uses: ./upload
        if: always()
        with:
            name: mocha
            path: output.html
  pdf:
    name: Pee Dee Eff
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        run: |
          npm install pdfkit
          echo '
            const fs = require("fs")
            const PDFDocument = require("pdfkit")

            const doc = new PDFDocument()
            doc.pipe(fs.createWriteStream("output.pdf"))

            // draw some text
            doc.fontSize(25).text("Here are some vector graphics...", 100, 80)

            // some vector graphics
            doc.save().moveTo(100, 150).lineTo(100, 250).lineTo(200, 250).fill("#FF3300")

            doc.circle(280, 200, 50).fill("#6600FF")

            // an SVG path
            doc
              .scale(0.6)
              .translate(470, 130)
              .path("M 250,75 L 323,301 131,161 369,161 177,301 z")
              .fill("red", "even-odd")
              .restore()

            // and some justified text wrapped into columns
            const lorem =
              "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
            doc.text("And here is some wrapped text...", 100, 300).font("Times-Roman", 13).moveDown().text(lorem, {
              width: 412,
              align: "justify",
              indent: 30,
              columns: 2,
              height: 300,
              ellipsis: true,
            })

            // end and display the document in the iframe to the right
            doc.end()
          ' > create-pdf.js
      - name: create pdf
        run: node create-pdf.js
      - uses: ./upload
        with:
          name: pdf
          path: output.pdf
  go:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: setup
        # https://go.dev/doc/tutorial/add-a-test
        run: |
          go mod init example.com/calc
          go get github.com/vakenbolt/go-test-report
          go install github.com/vakenbolt/go-test-report

          echo 'package calc

          func Add(a, b int) int {
              return a + b
          }

          func AddBadly(a, b int) int {
              return a + b + 1
          }' > calc.go

          echo 'package calc

          import ("testing")

          func TestAddWell(t *testing.T) {
              actual := Add(1, 1)
              expected := 2
              if actual != expected {
                  t.Errorf("Result was incorrect, got: %d, want: %d.", actual, expected)
              }
          }

          func TestAddBadly(t *testing.T) {
              actual := AddBadly(1, 1)
              expected := 2
              if actual != expected {
                  t.Errorf("Result was incorrect, got: %d, want: %d.", actual, expected)
              }
          }' > calc_test.go
      - run: ls ~/go/bin
      - name: run tests
        run: go test -json | ~/go/bin/go-test-report || echo failed
      - uses: ./upload
        with:
          name: go
          path: test_report.html
